	.background {background-color: black;}
	.box {background-color: Yellow; color: Black; text-align: center;}
	.big {font-size: 50px;}
	.small {font-size: 10px}
	.yellow {color: yellow;}
	.red {color: red;}
	